.quotes {
  padding-bottom: 14rem;

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    max-width: 500px;
    margin: auto;
    z-index: 3;

    @include breakpoint-up(large) {
      grid-template-columns: repeat(3, 1fr);
      max-width: 1120px;
      gap: 2.5rem;
    }

    &:before {
      content: url(' ../images/bg-quotes.png');
      transform: scale(0.7);
      position: absolute;
      top: -20px;
      left: -8px;
      z-index: -1;

      @include breakpoint-up(large) {
        top: 2px;
        left: 6px;
        transform: none;
      }
    }
  }

  .quote {
    background-color: $testimonialBg;
    padding: 1.875rem 1.5rem 1.5rem 1.5rem;
    border-radius: 0.01875rem;

    @include breakpoint-up(large) {
      padding: 2.75rem 1.5rem 1.5rem 1.5rem;
    }

    &__text {
      font-size: 0.65em;
      margin-bottom: 1.875rem;
    }

    &__author {
      display: grid;
      grid-template-columns: 2.5rem 1fr;
      grid-template-rows: 1.5rem 1.5rem;
      column-gap: 0.875rem;

      &-image {
        grid-column: 1 / 1;
        grid-row: 1 / 2;

        img {
          width: 100%;
          height: auto;
          border-radius: 50%;
        }
      }

      &-name {
        font-size: 0.5em;
        font-weight: 700;
        grid-column: 2 / 2;
        grid-row: 2 / 2;
      }

      &-title {
        font-size: 0.5em;
      }
    }
  }
}